node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
node_modules
playwright-report
test-results
allure-results
allure-report
html-report
.vscode
.env.dev
.env.stage
.env.prod
test_logs
html_report
html_reports
tests-examples